In [ ]:
print(365) # print 함수 input()

365

In [ ]:
print(365+1)

366

In [ ]:
print(1+2+3)

6

In [ ]:
1+2+3

6

In [ ]:
print(3/6)

0.5

In [ ]:
10*7

70

In [ ]:
print(홍길동)

NameError: ignored

In [ ]:
print("홍길동")

홍길동

In [ ]:
print("홍")

홍

In [ ]:
print("인공지능 수업")

인공지능 수업

In [ ]:
# 100 98 70 
score1 = 100
score2 = 98
score3 = 70
# 변수
score = 100
total = 0 # 총점의 초기값
total = total + score
score = 98
total = total + score
score = 70
total = total + score
average = total / 3

In [ ]:
"도은엽"
"정용현"

In [ ]:
# 입력
name = input("이름을 입력하세요: ")

이름을 입력하세요: 홍길동

'홍길동'

In [ ]:
name = input("이름을 입력하세요: ")

이름을 입력하세요: 도은엽

In [ ]:
name

'도은엽'

In [ ]:
# 조건문
if a > b:
  a = a * 2
  b = b / 3
  print(a , b)

# a >= b a < b a == b a <= b a != b

In [ ]:
score = int(input("성적을 입력하세요: "))
if score >= 90:
  print("A")
else:
  print("A 아님")

성적을 입력하세요: 70
A 아님

In [ ]:
# A, B, C 학점으로 분리하려면...
if score >= 90:
  print("A")
elif score >= 80:
  print("B")
elif score >= 70:
  print("C")
else:
  print("F")

In [ ]:
# 반복문
total = 0
number = 0
while number < 3:
  score = int(input("성적? "))
  total = total + score
  number = number + 1
average = total/3
print("총점:", total, "평균:", average)

성적? 100
성적? 95
성적? 70
총점: 265 평균: 88.33333333333333

In [ ]:
집합 = [100, 85, 70]
for aaa in 집합:
  print(aaa)

100
85
70

In [ ]:
total = 0
for score in 집합:
  total = total + score
average = total / 3
print(total, average)

255 85.0

In [ ]:
print(3 * '*')

***

In [ ]:
number = 0 #반복횟수
while number < 5:
  print(number * "*") #
  number = number + 1

*
**
***
****

In [ ]:
# 함수
total = 0
score = int(input("성적?"))
total = total + score
score = int(input("성적?"))
total = total + score
score = int(input("성적?"))
total = total + score

In [ ]:
def 성적(total):
  score = int(input("성적?"))
  total = total + score
  return total
total = 0
total = 성적(total)
total = 성적(total)
total = 성적(total)
average = total / 3
print(total, average)

성적?100
성적?85
성적?70
255 85.0